DB_DRIVER=YOUR_DATABASE_DRIVER
DB_SOURCE=YOUR_DATABASE_SOURCE
SERVER_ADDRESS=YOUR_SERVER_ADDRESS
TOKEN_SYMMETRIC_KEY=PASETO_TOKEN_SYMMETRIC_KEY_WITH_32_CHARACTERS_LENGTH
ACCESS_TOKEN_DURATION=YOUR_ACCESS_TOKEN_DURATION
REFRESH_TOKEN_DURATION=YOUR_REFRESH_TOKEN_DURATION